.background-pink {
	background-color: #ec008c;
	padding: 10px;
	position: relative;
}
.background-pink:after{
	background-color: #ec008c;
	content: "";
	height: 50px;
	position: absolute;
	transform: skew(0deg,2deg);
	width: 100.6%;
	margin-top: 40px;
	z-index: -1;
}
header ul{
	padding-top: 10px;
}
.nav-link {
	color: white;
	font-size: 20px;
}	
.nav-link:hover{
	color: white;
}
.active {
	border-bottom: 1px solid white;
}
/*dropdown*/
.dropdown{
	position: relative;
	display: inline-block;
}
.dropdown-content{
	position: absolute;
	display: none;
	background-color: #ec008c;
}
.dropdown:hover .dropdown-content{
	display: block;
}
.dropdown-item{
	color: white !important;
}
.dropdown-item:hover{
	background-color: #e37cb9 !important
}

.center-pic {
	margin-top: 80px;
	margin-bottom: 40px;
	text-align: center;
}
.center-pic img {
	width: 800px;
}

/*main-content*/
.content{
	 width: 800px !important;
	 margin-top: 50px !important;
	 margin-bottom: 50px !important;
}
.content h1{
	text-align: center;
}
.content small{
	color: grey;
	margin: 10px;
}
.content p{
	text-align: left;		
}
.content img{
	text-align: left;
}
.row .col-auto{
	padding: 0px !important;
}
.pic{
	margin: 2px;
}
blockquote p{
	line-height: 1.6;
    color: #8a8a8a;
    border-left: 1px solid #999;
    padding-left: 5px;
}
address p{
	font-style: italic;
}
em{
	font-style: italic;
}
code{
	border: 1px solid #999;
	background-color: #f2f2f2;
	color: black !important;
	font-family: Consolas;
	padding: 2px;
}
kbd{
	border: 1px solid #999;
	background-color: #f2f2f2 !important;
	color: black !important;
	font-family: Consolas;
	padding: 2px;
}
.bio{
	background-color: #f2f2f2;
	width: 100%;
	text-align: left;
}
.tag{
	overflow: hidden;
}
.tag3{
	background-color: #ed6fba ;
	color: white;
	float: left;
	display: inline-block;
	margin-right: 10px;
}
.tag3:hover{
	color: white;
	text-decoration: none;
	background-color: #e658ad;
}
.content .comment-section {
	text-align: left;
}
.content .also-like {
	text-align: left;
}
.div-link{
	display: inline-block;
	color: black;
	margin-bottom: 20px;
	text-align: left;
}
.div-link:hover{
	color: black;
	text-decoration: none;
}
.div-link:hover h5{
	color: #ec008c;
}
/*Footer*/
footer .container {
	padding: 50px !important;
}

footer{
	background-color: #fafafa;
	margin-top: 100px;
	font-size: .75rem;
	position: relative;
	display: block;
}
footer:before{
	background-color: #fafafa;
	content: "";
	height: 160px;
	position: absolute;
	transform: skew(0deg,4deg);
	width: 100%;
	margin-top: -60px;
}